.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  color: #4a5957;
  font-size: 12px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  z-index: 99;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
}
